<header>
    <nav class="menu" role="navigation">
        <div class="menu__toggle">
            <input type="checkbox">
            <span>dsfcds</span>
            <span>csdcs</span>
            <span>sdcdsc</span>
            <ul>
                <li><a [routerLink]="['/home']" class="link-item">home</a></li>
                <li><a [routerLink]="['/character-list']" class="link-item">Characters</a></li>
                <li><a [routerLink]="['/episodes']" class="link-item">Characters</a></li>
            </ul>

        </div>
       
    </nav>



</header>
